<nav class="blue">
  <div class="nav-wrapper">
    <ul class="nav">
      <li class="li">
        <a class="active" href="/"><%= image_tag "https://cdn3.iconfinder.com/data/icons/family-outline/61/25_-Family-_family_home_people-32.png" %></a>
      </li>
      <li class="li">
        <a href="/clans">Clans</a>
      </li>
    </ul>
  </div>
</nav>
