<div class="container">
  <h2>Welcome to Family where you keep track of your records.</h2>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">

      <div class="item active">
        <img src="http://www.freeclipart.pw/uploads/2017/05/family-clipart-23.jpeg" alt="Family" style="width:100%;">
        <div class="carousel-caption" style="color: black; font-size: 20px;">
          <h3>Families are always warm.</h3>
          <p>Lets keep a record of our loved ones the past and the future.</p>
        </div>
      </div>

      <div class="item">
        <img src="http://3.bp.blogspot.com/-k7eXyAX9lto/U2VDfHbhUnI/AAAAAAAAAJQ/VtMahU0yDQY/s1600/Fam-1.jpg" alt="family" style="width:100%;">
        <div class="carousel-caption" style="color: black; font-size: 20px;">
          <h3>Extended Family.</h3>
          <p>Celebrates all the holidays as one whole family.</p>
        </div>
      </div>

      <div class="item">
        <img src="http://coloringhome.com/coloring/9cR/a55/9cRa554Mi.jpg" alt="New York" style="width:100%;">
        <div class="carousel-caption" style="color: black; font-size: 20px;">
          <h3>Happy Families.visit each other</h3>
          <p>Never misses out the Families Get-Together.</p>
        </div>
      </div>

    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<h3>Briefing.</h3>
<p>We all come form families even if not all may have the privillage of knowing them. This is an a community where all the clans of the families are registered to everyone to view and update the members of members. </p>

<h3>Provision.</h3>
<p>We provide a platform for clans to be registered and people to views their descendant from way back as they can remember. This is community reduces :- </p>
<ol>
<li>The loss of any family members from their clan.</li>
<li>Intermarriages between members of the same clan.</li>
<li>Misplacement of Family members.</li>
<li>Traditions being forgotten.</li>
</ol>

<p>The benefits of using FAMILY are:-</p>
<ol>
  <li>Children we know their descendant.</li>
  <li>Members of a particular clan would know how they are related to each other.</li>
  <li>No member of a particular family would be forgotten.</li>
  <li>People would know their heritage.</li>
</ol>
