<h1>Welcome to the family tree.</h1>

<ul>
  <% @members.each do |member| %>
    <strong><p><%= link_to member.name, member_path(member) %></p></strong> <br>
    <li><%= member.married %></li>
  <% end %>
</ul>

<br>
<h2>Add a member.</h2>
<%= link_to "New Member", new_member_path %>
